<a href="<%= tasks_path %>">Back</a>

<h1>Edit precedence</h1>
Title: <%= @task.title %><br>
Description: <%= @task.description %><br>

<%= form_with(url: edit_precedences_task_path(params[:id]), method: "patch", local: true) do |f| %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Checkbox</th>
      </tr>
    </thead>
    <tbody>
      <%= f.collection_check_boxes :precedences, @tasks, :id, :title do |p| %>
        <tr>
          <td><%= p.object.title %></td>
          <td><%= p.check_box checked: @precedences.exists?(:task_id => params[:id], :required_task_id => p.object.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit "Save changes" %>
<% end %>
