<a href="<%= organization_users_path %>">Back</a>

<h1>Add member</h1>
<%= render "error_organization_user" %>

<%= form_with(url: organization_users_new_path, method: "get", remote: true) do |f| %>
  Method: <%= f.select :type, options_for_select(["Username", "Telephone", "Email"], :selected => session[:organization_user_type]), {},
    :onchange => "this.form.submit();" %>
<% end %>

<%= form_with(url: organization_users_path, method: "post", local: true) do |f| %>
  <%= f.hidden_field :type, value: session[:organization_user_type] %>

  <% if session[:organization_user_type] == "Telephone" %>
    <%= f.label :telephone, "Telephone:" %>
    <%= f.text_field :telephone %>
  <% elsif session[:organization_user_type] == "Email" %>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
  <% else %>
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username %>
  <% end %>

  <br>
  <%= f.label :can_edit, "Edit permissions:" %>
  <%= f.select :can_edit, options_for_select([true, false], :selected => false) %>
  <br>
  <%= f.submit "Add member" %>
<% end %>
