<h1>Create new human resource</h1>
<%= render "error_human_resource" %>

<%= form_for(@human_resource) do |f| %>
  Name: <%= f.text_field :name %>
  Population: <%= f.text_field :population %>
  <%= f.submit "Create Human resource" %>
<% end %>
