<a href="<%= user_path(@user.id) %>">Back</a>

<h1>Change password</h1>
<%= render "error_user" %>

<div class="form-2">
  <%= form_with(url: change_password_user_path, model: @user, method: "patch", local: true) do |f| %>
    <%= f.label :password, "Password" %>
    <%= f.text_field :password, label: "Password" %>

    <%= f.label :password_confirmation, "Confirm password" %>
    <%= f.text_field :password_confirmation %>
    <br>
    <%= f.submit "Change password" %>
  <% end %>
</div>
