<a href="<%= user_path(@user.id) %>">Back</a>

<h1>Change password</h1>
<%= render "error_user" %>

<%= form_for(@user, method: "patch", class: "form-2") do |f| %>
  <%= f.label :password, "Password" %>
  <%= f.text_field :password, label: "Password" %>

  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.text_field :password_confirmation %>
  <br>
  <%= f.submit "Change password" %>
<% end %>
