<h1>Register account</h1>
<%= render "error_user" %>

<%= form_for(@user, method: "post", html: {class: "form-2"}) do |f| %>
  <%= render(:partial=> 'form', :locals => {:f => f}) %>
  <br>
  <%= f.submit "Create Account" %>
<% end %>
<br>
<%= link_to "Already have an account?", '/login', method: :get %>
