<a href="<%= organization_path(session[:organization_id]) %>">Back</a>

<h1>Edit Project</h1>
<%= render "error_project" %>

<%= form_for(@project, method: "patch") do |f| %>
  <%= render(:partial=> 'form', :locals => {:f => f}) %>
  <br>
  <%= f.submit "Save changes" %>
<% end %>
