<a href="<%= organization_path(session[:organization_id]) %>">Back</a>

<h1>Project: <%= @project.name %></h1>
<a href="<%= human_resources_path %>"><button type="button">Human resources</button></a>
<a href="<%= tasks_path %>"><button type="button">Tasks</button></a>
<br><br>
<a href="<%= task_resources_path %>"><button type="button">Task/Human resource relations</button></a>
<br><br>

<% if ScheduleTask.exists?(:project_id => params[:id]) %>
  <a href="<%= view_schedule_project_path(@project.id) %>"><button type="button">View schedule</button></a>
  <a href="<%= delete_schedule_project_path(@project.id) %>"><button type="button">Delete schedule</button></a>
<% else %>

  <%= form_for(@project, url: generate_schedule_path, method: 'post') do |f| %>
    <%= f.submit "Generate Schedule" %>
  <% end %>
<% end %>
