<a href="<%= "/projects/#{params[:id]}" %>">Back</a>

<h1>Project schedule</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Task ID</th>
      <th>Human ID</th>
      <th>Capacity</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.start_date %></td>
        <td><%= schedule.end_date %></td>
        <td><%= schedule.task_resource.task_id %></td>
        <td><%= schedule.task_resource.human_resource_id %></td>
        <td><%= schedule.task_resource.capacity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
