<a href="<%= task_resources_path %>">Back</a>

<h1>Edit Task</h1>
<%= render "error_capacity" %>
<%= render "error_unallocated" %>

<%= form_with(url: task_resource_path(params[:id]), method: :patch, local: true) do |f| %>
  <%= f.submit "Save changes" %>
  <br>

  <% if session[:task_resource_type] == "Human resource" %>
    <% human_resource = HumanResource.find(params[:id]) %>
    <p>Human resource: <%= human_resource.name %></p>
    <p>Instances: <%= human_resource.instances %></p>
  <% else %>
    <% task = Task.find(params[:id]) %>
    <p>Task: <%= task.title %></p>
    <p>Description: <%= task.description %></p>

    <%
      precedences = TaskPrecedence.where(:task_id => task.id)
      precedence_list = []
      precedences.each do |precedence|
        precedence_list.push(Task.find(precedence.required_task_id).title)
      end
    %>

    <p>Precedences<%= precedence_list %></td></p>
    <p>Instances: <%= task.instances %></p>
  <% end %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <% if session[:task_resource_type] == "Human resource" %>
          <th>Title</th>
        <% else %>
          <th>Human resource</th>
        <% end %>

        <th>Duration</th>
        <th>Capacity (number of people required)</th>
      </tr>
    </thead>
    <tbody>
      <% if session[:task_resource_type] == "Human resource" %>
        <% @tasks.each do |record| %>
          <% resource = TaskResource.find_by(:human_resource_id => params[:id], :task_id => record.id) %>

          <tr>
            <td><%= record.title %></td>

            <%= f.fields_for :values, index: record.id do |r| %>
              <% if resource.blank? %>
                <td><%= r.number_field :duration, min: 0 %></td>
                <td><%= r.number_field :capacity, in: 0..HumanResource.find(params[:id]).instances %></td>
              <% else %>
                <td><%= r.number_field :duration, min: 0, value: resource.duration %></td>
                <td><%= r.number_field :capacity, in: 0..HumanResource.find(params[:id]).instances, value: resource.capacity %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <% @human_resources.each do |record| %>
          <% resource = TaskResource.find_by(:task_id => params[:id], :human_resource_id => record.id) %>

          <tr>
            <td><%= record.name %></td>
            <%= f.fields_for :values, index: record.id do |r| %>
              <% if resource.blank? %>
                <td><%= r.number_field :duration, min: 0 %></td>
                <td><%= r.number_field :capacity, in: 0..record.instances %></td>
              <% else %>
                <td><%= r.number_field :duration, min: 0, value: resource.duration %></td>
                <td><%= r.number_field :capacity, in: 0..record.instances, value: resource.capacity %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
