<a href="<%= "/project/#{@task.project_id}/tasks" %>">Back</a>

<h1>Create new allocation</h1>
<%= render "error_task_resource" %>

<%= form_for(@task_resource) do |f| %>
  Task id: <%= f.text_field :task_id %>
  Human resource id: <%= f.text_field :human_resource_id %>
  Duration: <%= f.text_field :duration %>
  Capacity (number of people required): <%= f.text_field :capacity %>
  <%= f.submit "Create human resource allocation option" %>
<% end %>
