<a href="<%= organizations_path %>">Back</a>

<h1>Edit Organizations</h1>
<%= render "error_organization" %>

<%= form_for(@organization, method: "patch") do |f| %>
  <%= render(:partial=> 'form', :locals => {:f => f}) %>
  <br>
  <%= f.submit "Save changes" %>
<% end %>
