<a href="<%= "/home" %>">Back</a>

<h1>Organizations</h1>
<a href="<%= new_organization_path %>"><button type="button">Create new organization</button></a>

<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td>
          <a href="<%= organization_path(organization) %>"><button type="button">View</button></a>

          <% if is_host_member?(organization.id) %>
            <a href="<%= edit_organization_path(organization) %>"><button type="button">Edit</button></a>
            <a href="<%= delete_organization_path(organization) %>"><button type="button">Delete</button></a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
