<a href="<%= organizations_path %>">Back</a>

<h1>Organization</h1>

<p>Number of users: <%= @users.count %></p>
<a href="<%= "/organization/#{@organization.id}/users" %>"><button type="button">View</button></a><br>
<p>Number of projects: <%= @projects.count %></p>
<a href="<%= projects_path %>"><button type="button">View</button></a><br>
